/ProgramacionAvanzada/obj
/ProgramacionAvanzada/bin
/.vs

/Exam Functions/Exam Functions/bin
/Exam Functions/Exam Functions/obj
/EstructurasBasicas/obj
/EstructurasBasicas/bin
/Funciones Recursivas 7 sep/Funciones Recursivas 7 sep/bin
/Funciones Recursivas 7 sep/Funciones Recursivas 7 sep/obj
